<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2778B3CD-35DA-41AB-BE5D-DEC2D0B3B269</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>maven</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>maven</string>
			<key>url</key>
			<string>http://mvnrepository.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
